@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
  font-family: "Playfair Display", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.detail-header {
  height: var(--header-height);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 6px rgb(152, 152, 152);
  z-index: 100;
  align-items: center;
}

main {
  padding-top: var(--header-height);
  position: relative;
}
